*{
  box-sizing: border-box;
  margin:0;
  padding:0;
}
body{
  background-color: #17172B;
  font-family: "Poppins", sans-serif;

background-size: cover;
}


     
@media only screen and (min-width: 414px) {
  body {
    background: #17172B;
    
  }
  
  .div-div{
    
    
    text-align: center;
  }
  
  
  .social-page {
  
  text-align: center;
}
.social-page img{
  
  width: 100%;
  height: 300px;
}
  
  
  
}






.main-page{
  display: block;
  border-bottom: 3px solid white;
  
}
.banner{
  justify-items: center;

  box-shadow: 0 10px 10px 0px rgba(0,0,0,0,0.5);
  
}
.banner video {

 width: 100%;
  
}

.info-page{
  color: #55595B;
  box-shadow: 0 10px 10px 0px rgba(0,0,0,0.6);
  display: inline-block;
  
  margin: 50px;
  transition: transform 0.5s;
}


.info-page:hover{
  transform: translateY(-30px);
 animation: ll 1.5s ease-in-out infinite alternate;
}
@keyframes ll{
  from{
    
    box-shadow: 00 1px lightcyan 00 1px lightcyan 00 1px lightblue 00 1px lightcyan;
  }
  to{
    box-shadow: 00 1px lightcyan;
  }
  
}
.social-page {
  
  text-align: center;
}
.social-page img{
  
width: 300px;
height: 50%;

border-radius: 30px;
transition: transform 0.5s;
 text-decoration: none;
}
 .social-page a img:hover{
    transform: rotate(20deg) }
  
  








  .drop-down {
    position: relative;
    display: inline-block;
    margin-left: 4px;
    
  
  }
  
  .drop-content {
    line-height: 2;
    font-size: 20px;
    display: none;
    background: #0000;
    position: absolute;
    color: white;
    
  
    z-index: 1;
    box-shadow: 0 10px 10px 0px rgba(0, 0, 0, 0.3);
  }
  
  .btn {
    margin-right: 40px;
    border-radius: 1px;
    color: white;
    font-size: 25px;
    background: #0000;
  
  }
  
  
  .drop-content a {
    text-decoration: none;
    color: white;
    /* margin: 20px;*/
  }
  
  .drop-down:hover .drop-content {
    display: block;
   
  
  }
  
  
  /**-++------------*/
  
  /*----social*/
 .div-div{
 display: block;
 text-align: center;

 box-shadow: 0 10px 10px 0px rgba(0,0,0,0.6);
  }
 .div-div  img {
    width: 300px;
    border-radius: 70px;
    height:50%;

    
  }
  
 